.card {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .7rem;
    background-color: red;
}

.plan {
    font-size: 18px;
}

.storage, .usersAllow, .limit {
    width: 100%;
    text-align: center;
    font-size:  15px;
    border-top: 2px solid white;
    padding: .7em 0;
    background-color: blue;
}

.limit {
    border-bottom: 2px solid white;
}

.btn {
    padding: .8em 2em;
    width: 100%;
}