.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 65px;
}

@media (max-width: 920px) {
    .container {
      flex-direction: column;
      gap: 10px;
    }
}
